

body {
    background-color: rgb(65, 59, 145);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  
  form {
    text-align: center;
    line-height: 25px;
    height: 80%;
    overflow: auto;
  }
  
  form hr {
    width: 15%;
  }
  
  h1 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  